* {
/*    Custom color variables*/
    -brand-color: #E46666;
}

.footer, .header{
    -fx-background-color: -brand-color;
    -fx-padding: 10;
    -fx-alignment: center-left;
    -fx-font-size: 18;
}

